p{
color :black;    
font-family:"open sans" ;                              
font-size:18px ;    
line-height:1.6;
text-align: justify;

}

h2{
    font-weight:900 ;
font-style: italic ;
text-align:start ;
text-decoration: underline;


}

h3{
font-style:oblique ; 
text-align:start ;
}

h1{
    text-align: center;
    
}

a{
    color:blue
}